.postContainer{
    width: 82%;
}
.postContent{
    margin: 16px 0 16px 0;
    box-sizing: border-box;
    padding: 20px 10px;
    background-color: rgb(52, 153, 52);
    border-radius: 10px;
}
.postTitle{
    margin: 0 0 10px 0;
}
.postText{
    text-indent: 15px;
}
.postAuthor{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}
