@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    margin: 0;
    background-color: rgb(19, 19, 19);
    color: rgb(238, 234, 234);
    font-family: Roboto;
}
a,:hover,:active{
    text-decoration: none;
    color: rgb(238, 234, 234);
}
ul{
    list-style: none;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
}
.mainContainer{
    background-color: rgb(19, 19, 19);
    padding: 0 20% 0 20%;
    display: flex;
    justify-content: space-between;
}
